button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rosybrown;
    padding: 12px 28px;
    border-radius: 49px;
    cursor: pointer;
    transition: 0.3;

}

button:hover{
    background-color: #e9a473;
}