.add{
    width: 70.%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;


}

.add form {
    gap: 20px
}


.add-shop-name, .add-shop-address{
    width: max(40%,280px);
}

.add-shop-name input,.add-shopowner-name input, .add-shop-address textarea{
    padding: 10px;
}


.add-button{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}